<div class="main">
    <ng-container *ngIf="formType === ''">
        <div class="big-btn">
            <button (click)="formType = 'login'">
                Login
            </button>
        </div>
        <p style="width: 100%; text-align: center;">OR</p>
        <div class="big-btn">
            <button (click)="formType = 'signup'">
                Sign up
            </button>
        </div>
    </ng-container>
    <ng-container *ngIf="formType === 'login'">
        <div class="form login">
            <form name = "loginForm">
                <input id="loginEmail" type="text" placeholder="email" required>
                <input id="loginPassword" type="password" placeholder="password" required>
            </form>
            <button [disabled]="loginForm.valid" (click)="login()">Login</button>
        </div>
    </ng-container>
    <ng-container *ngIf="formType === 'signup'">
        <div class="form signup">
            <form #signupForm>
                <input type="text" placeholder="name" required>
                <input type="text" placeholder="email" required>
                <input type="password" placeholder="password" required>
            </form>
            <button [disabled]="!signupForm.valid" (click)="signUp()">Register</button>
        </div>
    </ng-container>
</div>