<div class="wrapper">
    <div class="header">
        <h3 *ngIf="!user">Login/Signup</h3>
        <h3 *ngIf="user">Welcome, {{user.name}}</h3>
    </div>
    <app-login *ngIf="!user" (userFound)="checkIfLoggedIn()"></app-login>
    <div class="main" *ngIf="user">
        <ng-container *ngIf="!formToggle">
            <div class="big-btn">
                <button [disabled]="user.postid" (click)="formToggle = true">
                    Request Help
                </button>
            </div>
            <div class="big-btn">
                <button style="background-color: #494949;" [disabled]="user && !user.postid" (click)="removeRequest()">
                    Remove Request
                </button>
            </div>
        </ng-container>
        <div class="helpForm" *ngIf="formToggle">
            <div class="form-header">
                <div class="close-btn" (click)="formToggle = false">❮</div>
                <div class="form-title">Ask for help</div>
            </div>
            <form #helpForm="ngForm">
                <input placeholder="Title" type="text" name="title" id="title" #title ngModel required>
                <textarea 
                    type="text" 
                    name="message" 
                    #message ngModel required 
                    placeholder="Write your message here..."
                    rows="5">
                </textarea>
                <div class="input-box">
                    <input type="checkbox" name="showEmail" #showEmail id="showEmail" ngModel>
                    <label for="showEmail">Show my email</label>
                </div>
            </form>
            <div class="big-btn">
                <button [disabled]="!helpForm.valid" (click)="sendRequest(helpForm)">Submit</button>
            </div>
        </div>
        <div class="userPost" *ngIf="!currentPost && userPost">
            <h3>Your Post</h3>
            <div class="post">
                <div class="body">
                    <h2 style="margin-bottom: 15px;">{{userPost.title}}</h2>
                    <p>{{userPost.message}}</p>
                </div>
                <div class="comments" *ngIf="userPost.comments">
                    <ul>
                        <li *ngFor="let comment of userPost.comments">{{comment}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="userPost" *ngIf="currentPost">
            <div class="close-btn" (click)="currentPost = null">❮</div>
            <h3>Selected Post</h3>
            <div class="post">
                <div class="body">
                    <h2 style="margin-bottom: 15px;">{{currentPost.title}}</h2>
                    <p>{{currentPost?.message}}</p>
                </div>
                <div class="comments" *ngIf="currentPost?.comments">
                    <ul>
                        <li *ngFor="let comment of currentPost.comments">{{comment}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
