<div class="wrapper">
    <div class="header">
        <h3 *ngIf="!user">Login/Signup</h3>
        <h3 *ngIf="user">Welcome, {{user.name}}</h3>
    </div>
    <app-login *ngIf="!user" (userFound)="checkIfLoggedIn()"></app-login>
    <div class="main" *ngIf="user">
        <ng-container *ngIf="!formToggle">
            <div class="big-btn">
                <button [disabled]="user.postId" (click)="formToggle = true">
                    Request Help
                </button>
            </div>
            <div class="big-btn">
                <button [disabled]="!user.postId" (click)="removeRequest()">
                    Remove Request
                </button>
            </div>
        </ng-container>
        <div class="formToggle" *ngIf="formToggle">
            <form #helpForm="ngForm">
                <textarea type="text" name="message" #message ngModel required placeholder="Write your post here..."></textarea>
            </form>
            <button [disabled]="!helpForm.valid" (click)="sendRequest(message.value)">Submit</button>
        </div>
    </div>
</div>
